* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html {
  height: -webkit-fill-available;
}

@media (max-width: 768px) {
  body {
    height: -webkit-fill-available;
  }
}
